
/*??This is a Universal selector ,
/?Means Whatever will be applied here will get copied to every item
/?but it has the Lowest Priority--*/

*{
margin:0 ;   /*comm--This'll reset all the margin and Padding in the CSS file */
    padding: 0;
}

.container{
    width:800px;

    margin: 0 auto;  /*comm-- This is a shorthand way of writing margins where the 0 stands for the top while the auto stands for left and right */
}



h1,h2,h3,h4 ,p ,li {
   font-family: sans-serif;

}

body {
    color: #444;
    border-top: 10px solid #1098ad;
}

.main_header{

    padding: 20px 40px ; /*? This'll add 20px padding in front and 40 px in the left and right */
}
aside{
    background-color: #f7f7f7;
    padding-bottom: 50px;
    padding-top: 50px;
    height: 80px;
}
.post_img{
    width:100%;
    height: auto;

}

.post_header{
    margin-bottom: 30px;
}

h1 {
    color: #1098ad;
    font-size: 26px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-style: italic;
}

h2 {
    font-size: 40px;
    font-family: sans-serif;
    margin-bottom: 30px;


}


h3 {
    font-size: 30px;
    font-family: sans-serif;
    margin-top: 40px;
    color: #1098ad;

}

h4 {
    font-size: 20px;
    font-family: sans-serif;
    text-transform: uppercase; /*? Used to change the text's case  */
    text-align: center;
}


p { /* ?Selecting this p will trigger all the paragraph elements */
    font-size: 22px;
    font-family: sans-serif;
    line-height: 1.5;
    margin-bottom: 15px;
}

li {

    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 10px;
}

li:last-child{
    margin-bottom:0;
}


footer p{
    font-size: 16px;
}

article header p{  /*? In css we can also group our header items by mentioning them with the group they belong here they belong the article */

    font-style: italic;
}

#Author {
    font-style: italic;
    font-size: 18px;
    font-family: sans-serif;

}

#Copyright {
    font-size: 16px;
}

.related_Author{
    font-size: 18px;
    font-weight: bold;
}

.related_list {
    list-style: none;
    border: #1098ad solid 5px;
}


li:first-child{
    font-style: italic;
    font-weight: bold;
}
li:last-child{
    font-style:italic;
}

li:nth-child(even){
    color:red;
}

/*
a:link{
    color: #ad1010;

}
*/

a:visited{
    color: #1098ad;
}

a:hover{
    color: orangered;
    font-weight:bold ;
    text-decoration: underline orangered;
}

a:active{
    background-color: black;
    font-style: italic;
}

nav a:link  {
    font-size:18px    ;
}